<!DOCTYPE html>
<html>

<head>
    <title>404 - Page Not Found</title>
</head>

<body>
    <h1>404 - Page Not Found</h1>
    <p>Oops! The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <p>Please check the URL for typos or try using the navigation links to find what you're looking for.</p>
    <p>If you believe this is a mistake or need further assistance, feel free to contact us at <a href="mailto:contact@example.com">contact@example.com</a>.</p>
</body>
<nav>
    <a href="/">Homepage</a>
    <a href="/about">About Page</a>
</nav>

</html>